[user]
	email = tarunbod@gmail.com
	name = Tarun Boddupalli
[push]
	default = simple
	autoSetupRemote = true
[credentials]
	username = tarunbod
[commit]
	gpgsign = false
[github]
	user = tarunbod
[alias]
	pushu = push -u origin HEAD
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
# delta is a pager for git and diff output
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
